html,
body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0;
}

#btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

button {
  font-size: 20px;
}

#root {
  width: 500px;
  height: 450px;
  margin: 10px 0 0;
  word-break: break-all;
  overflow-y: scroll;
}
